h2 Item description

p Elevate your device-holding experience with our Aviation-Themed Magnet Phone Holder Plate Set. Designed for aviation enthusiasts, flight simulation players, and anyone who loves the thrill of flying, this set of three magnet plates adds a touch of aviation flair to your everyday devices.

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/aviation_plate/var.jpg")
            img(src="images/products/aviation_plate/add-plane.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/aviation_plate/var.jpg")
            img(src="images/products/aviation_plate/add-cover.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/aviation_plate/var.jpg")
            img(src="images/products/aviation_plate/add-cockpit.jpg" width="500" alt="")


h2 Key Features:

p Aviation-Themed Patterns: Each set includes three distinct aviation-themed patterns, allowing you to showcase your passion for flight. Choose from classic aircraft silhouettes, vintage cockpit instruments, and soaring jet trails.

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/aviation_plate/var.jpg")
            img(src="images/products/aviation_plate/add-art1.jpg" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/aviation_plate/var.jpg")
            img(src="images/products/aviation_plate/add-art2.jpg" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/aviation_plate/var.jpg")
            img(src="images/products/aviation_plate/add-art3.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/aviation_plate/var.jpg")
            img(src="images/products/aviation_plate/add-3.jpg" width="500" alt="")

p Effortless Magnet Attachment: The magnet side effortlessly attaches to compatible magnetic holders, allowing you to mount your device in a snap. Experience convenience without sacrificing style.

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/aviation_plate/var.jpg")
            img(src="images/products/aviation_plate/add-phone-holder.jpg" width="500" alt="")

p Universal Compatibility: Designed to fit a wide range of devices, our magnet plates provide a versatile solution for holding smartphones, tablets, and more.

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/aviation_plate/var.jpg")
            img(src="images/products/aviation_plate/add-motor.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/aviation_plate/var.jpg")
            img(src="images/products/aviation_plate/add-watch.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/aviation_plate/var.jpg")
            img(src="images/products/aviation_plate/add-earphone.jpg" width="500" alt="")

h2 Specifications:

p Plate Dimensions: Each plate measures 4cm diameter for a balanced combination of size and visibility.
p Material: Crafted from high-quality materials for durability and long-lasting use.
p Package Contents: Each set includes three aviation-themed magnet plates in assorted designs.
h5 Enhance Your Experience:
p Bring the world of aviation into your daily life. Perfect for flight simulators, cockpit enthusiasts, and aviation aficionados, these magnet plates serve as a constant reminder of your love for all things airborne.

div.uk-margin-medium-bottom

