h2 Item description

p Upgrade your car's interior with our innovative Car Seat Gap Organizer featuring a built-in wireless charger with a remarkable 20W power output. Stand out from the rest as our wireless charger allows phones to be placed vertically, unique feature not found in other market competitors.

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/passenger1.jpg")
            img(src="images/products/cargapcharger/passenger1.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/driver2.jpg")
            img(src="images/products/cargapcharger/driver2.jpg" width="500" alt="")

p Forget the hassle of connecting your phone to USB ports – simply place it in the slot, and voila, automatic charging begins! With 20W of power, you'll never worry about your phone's battery again, ensuring it's always fully charged.

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/driver1.png")
            img(src="images/products/cargapcharger/driver1.png" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/passenger2.png")
            img(src="images/products/cargapcharger/passenger2.png" width="500" alt="")

p The dual-side charger is designed for both the driver and passenger, always positioning your phone screen facing the driver. Keep an eye on messages, time, status bar, and notifications while your phone is securely in the slot.

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/passenger3.jpg")
            img(src="images/products/cargapcharger/passenger3.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/passenger4.jpg")
            img(src="images/products/cargapcharger/passenger4.jpg" width="500" alt="")

p The most incredible feature is the powerful 12mm charging distance, allowing your phone to wear a protector/cover and a metal plate magnet holder (as long as it supports wireless charging). No need to peel off your phone cover to enable wireless charging – convenience at its best!

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/ai.png")
            img(src="images/products/cargapcharger/ai.png" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/charge_diagram.png")
            img(src="images/products/cargapcharger/charge_diagram.png" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/driver3.jpg")
            img(src="images/products/cargapcharger/driver3.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/driver4.png")
            img(src="images/products/cargapcharger/driver4.png" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/passenger4.jpg")
            img(src="images/products/cargapcharger/passenger4.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/passenger5.jpg")
            img(src="images/products/cargapcharger/passenger5.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/passenger6.jpg")
            img(src="images/products/cargapcharger/passenger6.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/passenger7.jpg")
            img(src="images/products/cargapcharger/passenger7.jpg" width="500" alt="")

p Compatible with both iPhones and Android phones (check variants for specific details).


h3 Tech Specs

p Wireless Charging power: 20W

p Wireless Charging distance: 12mm

p Input: USB-Type-C Port
p (NOT included in the product, you need to get one yourself)

p Dimensions: Please refer to image description.

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/cargapcharger/dimension.jpg")
            img(src="images/products/cargapcharger/dimension.jpg" width="500" alt="")

p Caution: The Card Slot does NOT accommodate normal card horizontally, please also refer to image description.

h3 Options/Variations:

ul

    li RHD Driver side

    li RHD Passenger side (phone screen facing driver side for both options while wireless charging)

p Recommend

ul

    li Passenger side organiser for small cars

    li Recommend RHD Driver side organiser for big cars

div.uk-margin-medium-bottom

