extends /layouts/_informational

block vars
  -
    page = {
      title: 'FAQ',
      breadcrumbs: {}
    }

    informationalActivePage = 5

block informational
  article(class="uk-card " +
                "uk-card-default " +
                "uk-card-small " +
                "uk-card-body " +
                "uk-article " +
                "tm-ignore-container")

    ul.uk-list-divider.uk-list-large(uk-accordion="multiple: true")
      li
        a.uk-accordion-title(href="#") How can I get the 90% OFF discount for old customers?
        div.uk-accordion-content
          p You may contact Mike via Email or Discord.
