div
    div.tm-wrapper.uk-text-center
        figure
            a(href="#")
                img(src="images/articles/wwfcu/FCU_00.jpg"
                    width="1024"
                    alt="ww-fcu00")
            figcaption WinWing FCU is coming

    div.tm-wrapper.uk-text-center
        figure
            a(href="#")
                img(src="images/articles/wwfcu/FCU_01.jpg"
                    width="1024"
                    alt="ww-fcu01")
            figcaption WinWing FCU is coming