-
  var articles = [{
    title: 'MiraBox 293/293S Screened Keyboard Stream Dock Unboxing',
    type: 'article',
    description: '<p> MiraBox 293/293S is coming soon! Check out the unboxing videos now! </p>',
    preview: 'images/articles/miraboxunboxing/cover.jpg',
    date: 'May 18th, 2024',
    href: 'article_mirabox_unbox.html'
  }, {
    title: 'Simagic TB-1 Handbrake Unboxing',
    type: 'article',
    description: '<p> Simagic TB-1 Handbrake Unboxing (No commentary) </p>',
    preview: 'images/articles/simagictb1/simgaic-unbox-1.jpg',
    date: 'May 14th, 2024',
    href: 'article_simagic_unbox.html'
  }, {
    title: 'DCS F/A-18 BVR Simplest Guide',
    type: 'article',
    description: '<p> Simplest guide to experience a BVR combat in DCS. Starting with Key Bindings, essential step-by-step guidance.</p>',
    preview: 'images/articles/bvr/f18bvr.png',
    date: 'May, 2024',
    href: 'article_bvr.html'
  }]

  var news = [{
    title: 'WinWing 320 FCU Unit1 is coming!',
    type: 'news',
    description: '<p>\n' +
    'The WINWING full-size FCU (Flight Control Unit). 1:1 fully structured mold, experience real aircraft operation. Soaring into the sky, bringing real-life proportions into reality.</p>',
    date: 'May 1, 2024',
    href: 'news_wwfcu.html'
  }]