-
  var products = [{
    id: 13,
    stringId: 'ctx12e3',
    name: 'CXT VIA/QMK Flight/Driving Simulation Deck Panel programmable RGB Keyboard with 3 Knobs',
    type: 'VIA Keyboard',
    href: 'product_cxt12e3.html',
    category: ['flight', 'racing'],
    image: {
      small: 'images/products/cxt12e3/dcs_basic_egb_green.jpg',
      medium: 'images/products/cxt12e3/dcs_basic_egb_green.jpg',
      large: 'images/products/cxt12e3/dcs_basic_egb_green.jpg'
    },
    additionalImages: [{
      small: 'images/products/cxt12e3/dcs_basic_egb_green_90.jpg',
      large: 'images/products/cxt12e3/dcs_basic_egb_green_90.jpg',
    }, {
      small: 'images/products/cxt12e3/ga_rgb_rainbow.jpg',
      large: 'images/products/cxt12e3/ga_rgb_rainbow.jpg',
    }, {
      small: 'images/products/cxt12e3/app-main.jpg',
      large: 'images/products/cxt12e3/app-main.jpg',
    }, {
      small: 'images/products/cxt12e3/back.jpg',
      large: 'images/products/cxt12e3/back.jpg',
    }, {
      small: 'images/products/cxt12e3/ga_rgb_white_90.jpg',
      large: 'images/products/cxt12e3/ga_rgb_white_90.jpg',
    }, {
      small: 'images/products/cxt12e3/top_usb30.jpg',
      large: 'images/products/cxt12e3/top_usb30.jpg',
    }, {
      small: 'images/products/cxt12e3/pkg.jpg',
      large: 'images/products/cxt12e3/pkg.jpg',
    }],
    price: '$68.00',
    oldPrice: '$75.00',
    brand: {},
    amazonLink: 'https://www.amazon.com.au/dp/B0D8QCSJ7C',
    ebayLink: 'https://www.ebay.com.au/itm/355838667168',
    sold: 0,
    feedbackCount: 0,
    feedbackRate: '-',
    availableItem: 99,
    isNotAvailable: false,
    isOnSale: true,
    statuses: ['new', 'top selling', 'mike\'s pick'],
    article: 'cxt12e3',
    variations: [{
      name: 'Keyboard Layout',
      values: [{
        name: 'DCS',
        value: 'dcs'
      }, {
        name: 'DCS Basic',
        value: 'dcs_basic'
      }, {
        name: 'DCS F-16 NumPad',
        value: 'f16'
      }, {
        name: 'DCS F/A-18 NumPad',
        value: 'f18'
      }, {
        name: 'MSFS2020/XPlane',
        value: 'msfs'
      }, {
        name: 'ETS2',
        value: 'ets2'
      }, {
        name: 'Sprintires/MudRunners',
        value: 'sprintires'
      }, {
        name: 'Light - DCS/MSFS2020',
        value: 'light_dcs_msfs2020'
      }, {
        name: 'Light - MSFS2020/DCS',
        value: 'light_msfs2020_dcs'
      }, {
        name: 'Media Player',
        value: 'win'
      }]
    }],
    specifications: [{
      name: 'Dimension',
      properties: {
        'Item Dimension': '135 mm x 65 mm',
        'Item Height': '45 mm'
      }
    }, {
      name: 'Support Layout',
      properties: {
        'Layout 1': 'DCS',
        'Layout 2': 'DCS Basic',
        'Layout 3': 'DCS F-16 NumPad',
        'Layout 4': 'DCS F/A-18 NumPad',
        'Layout 5': 'MSFS2020 - Microsoft Flight Simulation 2020',
        'Layout 6': 'ETS2 - Euro Truck Simulation',
        'Layout 7': 'Sprintires/MudRunners Off-Road Simulation',
        'Layout 8': 'Light ver - DCS/MSFS2020',
        'Layout 9': 'Light ver - MSFS2020/DCS',
        'Layout 10': 'Media Player(Sleep + Lock + Video + Foobar)',
      }
    }, {
      name: 'Input/Output Connectors',
      properties: {
        'Connectivity': 'Wired/USB/USB-C 1.8m Cable',
      }
    }, {
      name: 'General',
      properties: {
        'Country/Region of Manufacture': 'CHINA'
      }
    }],
    reviews: [],
    questions: [{
      question: 'How can I get the 90% OFF discount for old customers?',
      answer: 'You may contact Mike via Email or Discord.'
    }, {
      question: 'Does this keyboard support wireless i.e. Bluetooth?',
      answer: 'No. It is wired. You have to connect the keyboard with USB cable all the time.'
    }, {
      question: 'Is it a VIA/QMK Keyboard?',
      answer: 'Mostly. VIA-C software is a variation of VIA. However, the original VIA web couldn\'t recognise the device.'
    }, {
      question: 'Can I control volume via the knobs?',
      answer: 'Yes.'
    }, {
      question: 'Can I use the knobs for auto-pilot controls i.e. AP Speed/Altitude/VS and so on in MSFS2020?',
      answer: 'Yes. That\'s the original intention to have this keyboard.'
    }, {
      question: 'Does the keyboard support RGB lights?',
      answer: 'Yes and the RGB lights patterns are configurable.'
    }, {
      question: 'What shaft does the keyboard has?',
      answer: 'Purple'
    }, {
      question: 'Does this keyboard support layer control?',
      answer: 'Yes.'
    }],
    properties: {
      'Connectivity': 'Wired USB/USB-C',
      'RGB': 'Yes',
      'Shaft': 'Purple',
      'Key Layout': '12 Keys (3 x 4) + 3 Knobs',
      'Layer Control': 'Yes'
    },
    inPackage: [{
      name: 'What\'s in package',
      properties: {
        'Keyboard with specific layout keys': 'x 1',
        'USB/USB-C cable': 'x 1, 1.8m',
        'Screw driver': 'x 1'
      }
    }, {
      name: 'Gift pack (Free)',
      properties: {
        'Key Puller': 'x 1'
      }
    }],
  }, {
    id: 14,
    stringId: 'ctx12e4',
    name: 'CXT VIA/QMK Flight/Driving Simulation Deck Panel programmable RGB Keyboard with 4 Knobs',
    type: 'VIA Keyboard',
    href: 'product_cxt12e4.html',
    category: ['flight', 'racing'],
    image: {
      small: 'images/products/cxt12e4/ga_rgb_green_30.jpg',
      medium: 'images/products/cxt12e4/ga_rgb_green_30.jpg',
      large: 'images/products/cxt12e4/ga_rgb_green_30.jpg'
    },
    additionalImages: [{
      small: 'images/products/cxt12e4/ga_rgb_green_90.jpg',
      large: 'images/products/cxt12e4/ga_rgb_green_90.jpg',
    }, {
      small: 'images/products/cxt12e4/ga_rgb_white_45.jpg',
      large: 'images/products/cxt12e4/ga_rgb_white_45.jpg',
    }, {
      small: 'images/products/cxt12e4/app-main.jpg',
      large: 'images/products/cxt12e4/app-main.jpg',
    }, {
      small: 'images/products/cxt12e4/back.jpg',
      large: 'images/products/cxt12e4/back.jpg',
    }, {
      small: 'images/products/cxt12e4/top_usb.jpg',
      large: 'images/products/cxt12e4/top_usb.jpg',
    }, {
      small: 'images/products/cxt12e4/pkg.jpg',
      large: 'images/products/cxt12e4/pkg.jpg',
    }],
    price: '$75.00',
    oldPrice: '$85.00',
    brand: {},
    amazonLink: '#',
    ebayLink: 'https://www.ebay.com.au/itm/355838747207',
    sold: 0,
    feedbackCount: 0,
    feedbackRate: '-',
    availableItem: 99,
    isNotAvailable: false,
    isOnSale: true,
    statuses: ['new', 'top selling', 'mike\'s pick'],
    article: 'cxt12e4',
    variations: [{
      name: 'Keyboard Layout',
      values: [{
        name: 'DCS',
        value: 'dcs'
      }, {
        name: 'DCS Basic',
        value: 'dcs_basic'
      }, {
        name: 'DCS F-16 NumPad',
        value: 'f16'
      }, {
        name: 'DCS F/A-18 NumPad',
        value: 'f18'
      }, {
        name: 'MSFS2020/XPlane',
        value: 'msfs'
      }, {
        name: 'ETS2',
        value: 'ets2'
      }, {
        name: 'Sprintires/MudRunners',
        value: 'sprintires'
      }, {
        name: 'Light - DCS/MSFS2020',
        value: 'light_dcs_msfs2020'
      }, {
        name: 'Light - MSFS2020/DCS',
        value: 'light_msfs2020_dcs'
      }, {
        name: 'Media Player',
        value: 'win'
      }]
    }],
    specifications: [{
      name: 'Dimension',
      properties: {
        'Item Dimension': '135 mm x 100 mm',
        'Item Height': '45 mm'
      }
    }, {
      name: 'Support Layout',
      properties: {
        'Layout 1': 'DCS',
        'Layout 2': 'DCS Basic',
        'Layout 3': 'DCS F-16 NumPad',
        'Layout 4': 'DCS F/A-18 NumPad',
        'Layout 5': 'MSFS2020 - Microsoft Flight Simulation 2020',
        'Layout 6': 'ETS2 - Euro Truck Simulation',
        'Layout 7': 'Sprintires/MudRunners Off-Road Simulation',
        'Layout 8': 'Light ver - DCS/MSFS2020',
        'Layout 9': 'Light ver - MSFS2020/DCS',
        'Layout 10': 'Media Player(Sleep + Lock + Video + Foobar)',
      }
    }, {
      name: 'Input/Output Connectors',
      properties: {
        'Connectivity': 'Wired/USB/USB-C 1.8m Cable',
      }
    }, {
      name: 'General',
      properties: {
        'Country/Region of Manufacture': 'CHINA'
      }
    }],
    reviews: [],
    questions: [{
      question: 'How can I get the 90% OFF discount for old customers?',
      answer: 'You may contact Mike via Email or Discord.'
    }, {
      question: 'Does this keyboard support wireless i.e. Bluetooth?',
      answer: 'No. It is wired. You have to connect the keyboard with USB cable all the time.'
    }, {
      question: 'Is it a VIA/QMK Keyboard?',
      answer: 'Mostly. VIA-C software is a variation of VIA. However, the original VIA web couldn\'t recognise the device.'
    }, {
      question: 'Can I control volume via the knobs?',
      answer: 'Yes.'
    }, {
      question: 'Can I use the knobs for auto-pilot controls i.e. AP Speed/Altitude/VS and so on in MSFS2020?',
      answer: 'Yes. That\'s the original intention to have this keyboard.'
    }, {
      question: 'Does the keyboard support RGB lights?',
      answer: 'Yes and the RGB lights patterns are configurable.'
    }, {
      question: 'What shaft does the keyboard has?',
      answer: 'Purple'
    }, {
      question: 'Does this keyboard support layer control?',
      answer: 'Yes.'
    }],
    properties: {
      'Connectivity': 'Wired USB/USB-C',
      'RGB': 'Yes',
      'Shaft': 'Purple',
      'Key Layout': '12 Keys (3 x 4) + 4 Knobs',
      'Layer Control': 'Yes'
    },
    inPackage: [{
      name: 'What\'s in package',
      properties: {
        'Keyboard with specific layout keys': 'x 1',
        'USB/USB-C cable': 'x 1, 1.8m',
        'Screw driver': 'x 1'
      }
    }, {
      name: 'Gift pack (Free)',
      properties: {
        'Key Puller': 'x 1'
      }
    }],
  }, {
    id: 12,
    name: 'SimRacing Game LED Display RPM Analogous Tachometer',
    type: 'Sim Racing Setup',
    href: 'product_analoguerpm.html',
    category: ['racing'],
    amazonLink: 'https://www.amazon.com.au/dp/B0D6W9D1Y8',
    ebayLink: 'https://www.ebay.com.au/itm/355784292995',
    sold: 0,
    feedbackCount: 0,
    feedbackRate: '-',
    availableItem: 20,
    article: 'analoguerpm',
    image: {
      small: 'images/products/analoguerpm/tb1.png',
      medium: 'images/products/analoguerpm/tb1.png',
      large: 'images/products/analoguerpm/tb1.png'
    },
    additionalImages: [
      {
        small: 'images/products/analoguerpm/review-1.png',
        large: 'images/products/analoguerpm/review-1.png',
      }, {
        small: 'images/products/analoguerpm/review2.png',
        large: 'images/products/analoguerpm/review2.png',
      }, {
        small: 'images/products/analoguerpm/review3.png',
        large: 'images/products/analoguerpm/review3.png',
      }, {
        small: 'images/products/analoguerpm/tb2.png',
        large: 'images/products/analoguerpm/tb2.png',
      }, {
        small: 'images/products/analoguerpm/tb3.png',
        large: 'images/products/analoguerpm/tb3.png',
      }, {
        small: 'images/products/analoguerpm/tb4.png',
        large: 'images/products/analoguerpm/tb4.png',
      }, {
        small: 'images/products/analoguerpm/tb5.png',
        large: 'images/products/analoguerpm/tb5.png',
      }, {
        small: 'images/products/analoguerpm/photo1.jpg',
        large: 'images/products/analoguerpm/photo1.jpg',
      }, {
        small: 'images/products/analoguerpm/photo2.jpg',
        large: 'images/products/analoguerpm/photo2.jpg',
      }, {
        small: 'images/products/analoguerpm/photo3.jpg',
        large: 'images/products/analoguerpm/photo3.jpg',
      }],
    price: '$220.00',
    oldPrice: '$220.00',
    brand: {
      name: 'ODDOR',
      image: 'images/brands/oddor.png',
      href: '#',
    },
    variations: [],
    specifications: [{
      name: 'Compatible Device',
      properties: {
        'Compatible Device': 'Generic'
      }
    }, {
      name: 'Material',
      properties: {
        'Material': 'ABS/Plastic'
      }
    }, {
      name: 'Input/Output Connectors',
      properties: {
        'Power supply': '12V DC',
        'Input/Output': 'USB-mini 1.8m Cable'
      }
    }],
    reviews: [],
    questions: [{
      question: 'How can I get the 90% OFF discount for old customers?',
      answer: 'You may contact Mike via Email or Discord.'
    }],
    isNotAvailable: false,
    isOnSale: false,
    statuses: ['new', 'mike\'s pick'],
    properties: {
      'Brand': 'ODDOR',
    },
    inPackage: [{
      name: 'What\'s in package',
      properties: {
        'Tachometer': 'x 1',
        'USB-mini Cable': 'x 1, 1.8m',
        '12V DV Power Adapter': 'x 1'
      }
    }, {
      name: 'Gift pack (Free)',
      properties: {
        'N/A': ''
      }
    }]
  }, {
    id: 11,
    name: 'ODDOR Mod for ThrustMaster T300 SimRace Steering Wheel LED Display RPM Tachometer',
    type: 'Sim Racing Mod',
    href: 'product_t300ledrpm.html',
    category: ['racing'],
    amazonLink: 'https://www.amazon.com.au/dp/B0D72M2WYD',
    ebayLink: 'https://www.ebay.com.au/itm/355784278676',
    sold: 0,
    feedbackCount: 0,
    feedbackRate: '-',
    availableItem: 20,
    article: 't300ledrpm',
    image: {
      small: 'images/products/t300ledrpm/tb4.png',
      medium: 'images/products/t300ledrpm/tb4.png',
      large: 'images/products/t300ledrpm/tb4.png'
    },
    additionalImages: [
      {
        small: 'images/products/t300ledrpm/tb1.png',
        large: 'images/products/t300ledrpm/tb1.png',
      }, {
        small: 'images/products/t300ledrpm/tb3.png',
        large: 'images/products/t300ledrpm/tb3.png',
      }, {
        small: 'images/products/t300ledrpm/tb2.png',
        large: 'images/products/t300ledrpm/tb2.png',
      }, {
        small: 'images/products/t300ledrpm/photo1.jpg',
        large: 'images/products/t300ledrpm/photo1.jpg',
      }, {
        small: 'images/products/t300ledrpm/photo2.jpg',
        large: 'images/products/t300ledrpm/photo2.jpg',
      }, {
        small: 'images/products/t300ledrpm/photo3.jpg',
        large: 'images/products/t300ledrpm/photo3.jpg',
      }],
    price: '$90.00',
    oldPrice: '$120.00',
    isOnSale: true,
    isNotAvailable: false,
    brand: {
      name: 'ODDOR',
      image: 'images/brands/oddor.png',
      href: '#',
    },
    variations: [],
    specifications: [{
      name: 'Compatible Device',
      properties: {
        'Compatible Device': 'ThrustMaster T300 or generic if you can mount by yourself'
      }
    }, {
      name: 'Material',
      properties: {
        'Material': 'Plastic 3D Printed'
      }
    }, {
      name: 'Input/Output Connectors',
      properties: {
        'Power supply': 'Not Applicable',
        'Input/Output': 'USB-mini 1.8m Cable'
      }
    }],
    reviews: [],
    questions: [{
      question: 'How can I get the 90% OFF discount for old customers?',
      answer: 'You may contact Mike via Email or Discord.'
    }],
    statuses: ['new', 'mike\'s pick'],
    properties: {
      'Brand': 'ODDOR',
    },
    inPackage: [{
      name: 'What\'s in package',
      properties: {
        'LED Tachometer': 'x 1',
        'USB-mini Cable': 'x 1, 1.8m'
      }
    }, {
      name: 'Gift pack (Free)',
      properties: {
        'N/A': ''
      }
    }]
  }, {
    id: 10,
    name: 'ODDOR Mod for ThrustMaster T300 Paddles mod gas paddle brake clutch Hydraulic adjustable',
    type: 'Sim Racing Mod',
    href: 'product_t300pedals.html',
    category: ['racing'],
    amazonLink: 'https://www.amazon.com.au/dp/B0D73YGBN1',
    ebayLink: 'https://www.ebay.com.au/itm/355784250387',
    sold: 0,
    feedbackCount: 0,
    feedbackRate: '-',
    availableItem: 20,
    article: 't300pedals',
    image: {
      small: 'images/products/t300pedals/tb-all.jpg',
      medium: 'images/products/t300pedals/tb-all.jpg',
      large: 'images/products/t300pedals/tb-all.jpg'
    },
    additionalImages: [
      {
        small: 'images/products/t300pedals/tb-thrust.jpg',
        large: 'images/products/t300pedals/tb-thrust.jpg',
      }, {
        small: 'images/products/t300pedals/tb-brake.jpg',
        large: 'images/products/t300pedals/tb-brake.jpg',
      }, {
        small: 'images/products/t300pedals/photo1.jpg',
        large: 'images/products/t300pedals/photo1.jpg',
      }, {
        small: 'images/products/t300pedals/photo2.jpg',
        large: 'images/products/t300pedals/photo2.jpg',
      }, {
        small: 'images/products/t300pedals/photo3.jpg',
        large: 'images/products/t300pedals/photo3.jpg',
      }, {
        small: 'images/products/t300pedals/photo1-brake.jpg',
        large: 'images/products/t300pedals/photo1-brake.jpg',
      }, {
        small: 'images/products/t300pedals/photo2-brake.jpg',
        large: 'images/products/t300pedals/photo2-brake.jpg',
      }, {
        small: 'images/products/t300pedals/photo3-brake.jpg',
        large: 'images/products/t300pedals/photo3-brake.jpg',
      }],
    price: '$100.00',
    oldPrice: '$100.00',
    brand: {
      name: 'ODDOR',
      image: 'images/brands/oddor.png',
      href: '#',
    },
    variations: [{
      name: 'Model',
      values: [{
        name: 'Gas Pedal/Clutch - $90.00',
        value: 'gas'
      }, {
        name: 'Brake Pedal(Adjustable) - $100.00',
        value: 'brake'
      }]
    }],
    specifications: [{
      name: 'Compatible Device',
      properties: {
        'Compatible Device': 'ThrustMaster T300'
      }
    }, {
      name: 'Material',
      properties: {
        'Material': 'Plastic 3D Printed'
      }
    }, {
      name: 'Input/Output Connectors',
      properties: {
        'Power supply': 'Not Applicable',
        'Input/Output': 'Not Applicable'
      }
    }],
    reviews: [],
    questions: [{
      question: 'How can I get the 90% OFF discount for old customers?',
      answer: 'You may contact Mike via Email or Discord.'
    }],
    isNotAvailable: false,
    isOnSale: false,
    statuses: ['new', 'mike\'s pick'],
    properties: {
      'Brand': 'ODDOR',
    },
    inPackage: [{
      name: 'What\'s in package',
      properties: {
        'Hydraulic mod': 'x 1'
      }
    }, {
      name: 'Gift pack (Free)',
      properties: {
        'N/A': ''
      }
    }]
  }, {
    id: 9,
    name: 'ODDOR Mod for ThrustMaster T300 steering wheel shifter paddle mod enhancement',
    type: 'Sim Racing Mod',
    href: 'product_t300shifter.html',
    category: ['racing'],
    amazonLink: 'https://www.amazon.com.au/dp/B0D73WM38X',
    ebayLink: 'https://www.ebay.com.au/itm/355784224702',
    sold: 0,
    feedbackCount: 0,
    feedbackRate: '-',
    availableItem: 20,
    article: 't300shifter',
    image: {
      small: 'images/products/t300shifter/tb-old-cover.png',
      medium: 'images/products/t300shifter/tb-old-cover.png',
      large: 'images/products/t300shifter/tb-old-cover.png'
    },
    additionalImages: [
      {
        small: 'images/products/t300shifter/tb-old3.png',
        large: 'images/products/t300shifter/tb-old3.png',
      }, {
        small: 'images/products/t300shifter/tb-old4.png',
        large: 'images/products/t300shifter/tb-old4.png',
      }, {
        small: 'images/products/t300shifter/tb-old1.png',
        large: 'images/products/t300shifter/tb-old1.png',
      }, {
        small: 'images/products/t300shifter/tb-old2.png',
        large: 'images/products/t300shifter/tb-old2.png',
      }, {
        small: 'images/products/t300shifter/review-new1.png',
        large: 'images/products/t300shifter/review-new1.png',
      }, {
        small: 'images/products/t300shifter/review-new2.png',
        large: 'images/products/t300shifter/review-new2.png',
      }, {
        small: 'images/products/t300shifter/review-new3.png',
        large: 'images/products/t300shifter/review-new3.png',
      }, {
        small: 'images/products/t300shifter/photo1.jpg',
        large: 'images/products/t300shifter/photo1.jpg',
      }, {
        small: 'images/products/t300shifter/photo2.jpg',
        large: 'images/products/t300shifter/photo2.jpg',
      }, {
        small: 'images/products/t300shifter/photo1-new.jpg',
        large: 'images/products/t300shifter/photo1-new.jpg',
      }, {
        small: 'images/products/t300shifter/photo2-new.jpg',
        large: 'images/products/t300shifter/photo2-new.jpg',
      }],
    price: '$34.00',
    oldPrice: '$50.00',
    isOnSale: true,
    isNotAvailable: false,
    brand: {
      name: 'ODDOR',
      image: 'images/brands/oddor.png',
      href: '#',
    },
    variations: [{
      name: 'Model',
      values: [{
        name: 'Old Model - 3M Adherence - $40.00',
        value: 'Old Model'
      }, {
        name: 'New Model - Lossless Install with screws - $50.00',
        value: 'Lossless Install with screws'
      }]
    }],
    specifications: [{
      name: 'Compatible Device',
      properties: {
        'Compatible Device': 'ThrustMaster T300'
      }
    }, {
      name: 'Material',
      properties: {
        'Material': 'Plastic 3D Printed'
      }
    }, {
      name: 'Input/Output Connectors',
      properties: {
        'Power supply': 'Not Applicable',
        'Input/Output': 'Not Applicable'
      }
    }],
    reviews: [],
    questions: [{
      question: 'How can I get the 90% OFF discount for old customers?',
      answer: 'You may contact Mike via Email or Discord.'
    }],
    statuses: ['new', 'mike\'s pick'],
    properties: {
      'Brand': 'ODDOR',
    },
    inPackage: [{
      name: 'What\'s in package',
      properties: {
        'Magnet Mod': 'x 2'
      }
    }, {
      name: 'Gift pack (Free)',
      properties: {
        'N/A': ''
      }
    }]
  }, {
    id: 1,
    name: 'MiraBox 293 StreamDock Visual Keyboard 3x5 LCD Button',
    type: 'Deck Keyboard',
    href: 'product_mirabox293.html',
    category: ['flight', 'racing'],
    amazonLink: 'https://www.amazon.com.au/dp/B0D4HCTPWY',
    ebayLink: 'https://www.ebay.com.au/itm/355723040394',
    sold: 0,
    feedbackCount: 0,
    feedbackRate: '-',
    availableItem: 20,
    article: 'mirabox293',
    image: {
      small: 'images/products/mirabox293/main-small.jpg',
      medium: 'images/products/mirabox293/main-medium.jpg',
      large: 'images/products/mirabox293/main.jpg'
    },
    additionalImages: [
      {
        small: 'images/products/mirabox293/dcs.jpg',
        large: 'images/products/mirabox293/dcs.jpg',
      }, {
        small: 'images/products/mirabox293/ets2.jpg',
        large: 'images/products/mirabox293/ets2.jpg',
      }, {
        small: 'images/products/mirabox293/plane.jpg',
        large: 'images/products/mirabox293/plane.jpg',
      }, {
        small: 'images/products/mirabox293/stand.jpg',
        large: 'images/products/mirabox293/stand.jpg',
      }, {
        small: 'images/products/mirabox293/customised.jpg',
        large: 'images/products/mirabox293/customised.jpg',
      }, {
        small: 'images/products/mirabox293/app-main.jpg',
        large: 'images/products/mirabox293/app-main.jpg',
      }, {
        small: 'images/products/mirabox293/iconlib-4in1.jpg',
        large: 'images/products/mirabox293/iconlib-4in1.jpg',
      }, {
        small: 'images/products/mirabox293/win.jpg',
        large: 'images/products/mirabox293/win.jpg',
      }, {
        small: 'images/products/mirabox293/inpack.jpg',
        large: 'images/products/mirabox293/inpack.jpg',
      }],
    price: '$139.00',
    oldPrice: '$139.00',
    brand: {
      name: 'MiraBox',
      image: 'images/brands/mirabox.jpg',
      href: '#',
    },
    variations: [],
    specifications: [{
      name: 'Dimension - Main Device',
      properties: {
        'Item Dimension': '135 x 95 mm',
        'Item Height': '24 mm'
      }
    }, {
      name: 'Dimension - with Stand (Triangle)',
      properties: {
        'Item Width': '135 mm',
        'Item Height': '95 mm',
        'Item Depth': '100 mm'
      }
    }, {
      name: 'Material',
      properties: {
        'Material': 'ABS'
      }
    }, {
      name: 'Input/Output Connectors',
      properties: {
        'Input/Output': 'USB/USB-C'
      }
    }],
    reviews: [],
    questions: [{
      question: 'How can I get the 90% OFF discount for old customers?',
      answer: 'You may contact Mike via Email or Discord.'
    }, {
      question: 'What are the differences between 293 and 293S?',
      answer: '293 is a newer and bigger device but 293S has a side screen.'
    }, {
      question: 'Can 293/293S display DCS data dynamically?',
      answer: 'YES. Mirabox has lua scripts support for DCS World, can receive data from DCS while playing the game.'
    }, {
      question: 'Can I use Elgato StreamDeck DCS profiles?',
      answer: 'NO. Please pay extra attention here! You can\'t take fully advantage of whatever come from Elgato StreamDeck DCS community.' +
              'To use your 293/293S in DCS gameplay, you will have to programme your own buttons, profiles etc. and I would NOT say it\'s a easy job for most people.'
    }],
    isNotAvailable: false,
    isOnSale: false,
    statuses: ['new', 'mike\'s pick'],
    properties: {
      'Brand': 'MiraBox',
      'Keyboard Dimension': '135 x 95 mm',
      'LCD buttons': 'YES',
      'Programmable': 'YES',
      'Support DCS game data input': 'YES. 293/293S has lua script support for DCS game.'
    },
    inPackage: [{
      name: 'What\'s in package',
      properties: {
        'MiraBox 293': 'x 1',
        'Stand': 'x 1',
        'USB to USB-C Cable': 'x 1',
        'Manual': 'x 1. English and Simplified Chinese version'
      }
    }, {
      name: 'Gift pack (Free)',
      properties: {
        'N/A': ''
      }
    }]
  }, {
    id: 2,
    name: 'MiraBox 293S StreamDock Visual Keyboard 3x5 LCD Button',
    type: 'Deck Keyboard',
    href: 'product_mirabox293s.html',
    category: ['flight', 'racing'],
    amazonLink: 'https://www.amazon.com.au/dp/B0D4HJH85F',
    ebayLink: 'https://www.ebay.com.au/itm/355723048001',
    sold: 0,
    feedbackCount: 0,
    feedbackRate: '-',
    availableItem: 20,
    article: 'mirabox293s',
    image: {
      small: 'images/products/mirabox293s/info-small.jpg',
      medium: 'images/products/mirabox293s/info-medium.jpg',
      large: 'images/products/mirabox293s/info.jpg'
    },
    additionalImages: [
      {
        small: 'images/products/mirabox293s/main.jpg',
        large: 'images/products/mirabox293s/main.jpg',
      }, {
        small: 'images/products/mirabox293s/info.jpg',
        large: 'images/products/mirabox293s/info.jpg',
      }, {
        small: 'images/products/mirabox293s/ets2.jpg',
        large: 'images/products/mirabox293s/ets2.jpg',
      }, {
        small: 'images/products/mirabox293s/stand.jpg',
        large: 'images/products/mirabox293s/stand.jpg',
      }, {
        small: 'images/products/mirabox293s/defstart.jpg',
        large: 'images/products/mirabox293s/defstart.jpg',
      }, {
        small: 'images/products/mirabox293s/app-main293s.jpg',
        large: 'images/products/mirabox293s/app-main293s.jpg',
      }, {
        small: 'images/products/mirabox293s/iconlib-4in1.jpg',
        large: 'images/products/mirabox293s/iconlib-4in1.jpg',
      }, {
        small: 'images/products/mirabox293s/win.jpg',
        large: 'images/products/mirabox293s/win.jpg',
      }, {
        small: 'images/products/mirabox293s/web.jpg',
        large: 'images/products/mirabox293s/web.jpg',
      }, {
        small: 'images/products/mirabox293s/music.jpg',
        large: 'images/products/mirabox293s/music.jpg',
      }, {
        small: 'images/products/mirabox293s/inpack.jpg',
        large: 'images/products/mirabox293s/inpack.jpg',
      }],
    price: '$119.00',
    oldPrice: '$119.00',
    brand: {
      name: 'MiraBox',
      image: 'images/brands/mirabox.jpg',
      href: '#',
    },
    variations: [],
    specifications: [{
      name: 'Dimension - Main Device',
      properties: {
        'Item Dimension': '135 x 85 mm',
        'Item Height': '22 mm'
      }
    }, {
      name: 'Dimension - with Stand (Triangle)',
      properties: {
        'Item Width': '135 mm',
        'Item Height': '60 mm',
        'Item Depth': '85 mm'
      }
    }, {
      name: 'Material',
      properties: {
        'Material': 'ABS'
      }
    }, {
      name: 'Input/Output Connectors',
      properties: {
        'Input/Output': 'USB/USB-C'
      }
    }],
    reviews: [],
    questions: [{
      question: 'How can I get the 90% OFF discount for old customers?',
      answer: 'You may contact Mike via Email or Discord.'
    }, {
      question: 'What are the differences between 293 and 293S?',
      answer: '293 is a newer and bigger device but 293S has a side screen.'
    }, {
      question: 'Can 293/293S display DCS data dynamically?',
      answer: 'YES. Mirabox has lua scripts support for DCS World, can receive data from DCS while playing the game.'
    }, {
      question: 'Can I use Elgato StreamDeck DCS profiles?',
      answer: 'NO. Please pay extra attention here! You can\'t take fully advantage of whatever come from Elgato StreamDeck DCS community.' +
              'To use your 293/293S in DCS gameplay, you will have to programme your own buttons, profiles etc. and I would NOT say it\'s a easy job for most people.'
    }],
    isNotAvailable: false,
    isOnSale: false,
    statuses: ['new', 'mike\'s pick'],
    properties: {
      'Brand': 'MiraBox',
      'Keyboard Dimension': '135 x 85 mm',
      'LCD buttons': 'YES',
      'Programmable': 'YES',
      'Support DCS game data input': 'YES. 293/293S has lua script support for DCS game.'
    },
    inPackage: [{
      name: 'What\'s in package',
      properties: {
        'MiraBox 293S': 'x 1',
        'Stand': 'x 1',
        'USB to USB-C Cable': 'x 1',
        'Manual': 'x 1. English and Simplified Chinese version'
      }
    }, {
      name: 'Gift pack (Free)',
      properties: {
        'N/A': ''
      }
    }]
  }, {
    id: 3,
    stringId: 'mfd',
    name: 'Flight Combat Simulation Cockpit F-18 F-16 DDI MFD Display Screen Monitor',
    type: 'Monitors/MFDs/DDIs',
    href: 'product_mfd.html',
    category: ['flight'],
    amazonLink: 'https://www.amazon.com.au/dp/B0CY2SRTJV',
    ebayLink: 'https://www.ebay.com.au/itm/354743667178',
    sold: 4,
    feedbackCount: 0,
    feedbackRate: '-',
    availableItem: 20,
    article: 'mfd',
    image: {
      small: 'images/products/mfd/1-small.png',
      medium: 'images/products/mfd/1-medium.png',
      large: 'images/products/mfd/1-large.png',
    },
    additionalImages: [{
      small: 'images/products/mfd/1-add-1-large.jpg',
      large: 'images/products/mfd/1-add-1-large.jpg',
    }, {
      small: 'images/products/mfd/1-add-2-large.jpg',
      large: 'images/products/mfd/1-add-2-large.jpg',
    }, {
      small: 'images/products/mfd/1-add-3-large.jpg',
      large: 'images/products/mfd/1-add-3-large.jpg',
    }, {
      small: 'images/products/mfd/1-add-4-large.jpg',
      large: 'images/products/mfd/1-add-4-large.jpg',
    }, {
      small: 'images/products/mfd/1-add-5-large.jpg',
      large: 'images/products/mfd/1-add-5-large.jpg',
    }, {
      small: 'images/products/mfd/1-add-6-large.jpg',
      large: 'images/products/mfd/1-add-6-large.jpg',
    }, {
      small: 'images/products/mfd/1-add-7-large.jpg',
      large: 'images/products/mfd/1-add-7-large.jpg',
    }, {
      small: 'images/products/mfd/1-add-8-large.jpg',
      large: 'images/products/mfd/1-add-8-large.jpg',
    }, {
      small: 'images/products/mfd/1-add-9-large.jpg',
      large: 'images/products/mfd/1-add-9-large.jpg',
    }, {
      small: 'images/products/mfd/1-add-10-large.jpg',
      large: 'images/products/mfd/1-add-10-large.jpg',
    }],
    price: '$239.00',
    oldPrice: '$239.00',
    isNotAvailable: false,
    isOnSale: false,
    brand: {
      name: 'WONWAR',
      image: 'images/brands/wonwar.jpg',
      href: '#',
    },
    variations: [{
      name: 'MFD Cougar Pack | Thrustmaster NOT Included',
      values: [{
        name: '1x Monitor Only',
        value: 'No'
      }]
    }],
    specifications: [{
      name: 'Display',
      properties: {
        'Highest Resolution': '1920 x 1080',
        'Screen Density': '600 X 600 DPI',
        'Diagonal display': '6 in',
        'Display Type': 'LCD/TFT',
      }
    }, {
      name: 'Dimension',
      properties: {
        'Item Width': '170 mm',
        'Item Height': '140 mm',
      }
    }, {
      name: 'Input/ Output Connectivity',
      properties: {
        'Input Interfaces': 'HDMI',
        'Country/Region of Manufacture': 'CHENGDU CHINA'
      }
    }, {
      name: 'Input/Output Connectors',
      properties: {
        'Input Interfaces': 'HDMI',
      }
    }, {
      name: 'Power Supply',
      properties: {
        'Power Input': 'DC 12V Adapter'
      }
    }, {
      name: 'General',
      properties: {
        'Country/Region of Manufacture': 'CHENGDU CHINA'
      }
    }],
    inPackage: [{
      name: 'What\'s in package',
      properties: {
        'MFD Monitor': 'x 1',
        'DC Power Adapter': 'x 1',
        'HDMI Cable': 'x 1, 2 meters'
      }
    }, {
        name: 'Gift pack (Free)',
        properties: {
          'Highest Resolution': '1920 x 1080'
        }
      }],
    reviews: [],
    questions: [{
      question: 'How can I get the 90% OFF discount for old customers?',
      answer: 'You may contact Mike via Email or Discord.'
    }, {
      question: 'Does this include Thrustmaster Cougar MFD pack?',
      answer: 'No. the item is only monitor and its power supply and HDMI cable.'
    }, {
      question: 'Do I need screws to mount to Thrustmaster Cougar MFD pack?',
      answer: 'No, the screws in Thrustmaster Cougar MFD pack will do.'
    }, {
      question: 'Is it just like a normal LCD monitor?',
      answer: 'Yes, it is just a monitor but with same screen width and height.'
    }, {
      question: 'Can I mount the monitor(or with Thrustmaster Cougar MFD pack) to somewhere',
      answer: 'Yes, you can either mount it to a horizontal base(i.e.your desk) or a vertical panel.'
    }, {
      question: 'If I have got a tripple monitor setup, can my computer support 2(or 3) more MFD?',
      answer: 'It depends on your graphic card or PC config, but generally most graphic cards on the market support 4 monitors only.' +
              'However, there is a solution that buying yourself a USB-to-HDMI adapter will unlock this limitation.'
    }, {
      question: 'Do I need setup in DCS to make it work?',
      answer: 'Yes, we got docs for you. It\'s generally a lua config file you need to add to your DCS path. ' +
              'You only need setup once.'
    }, {
      question: 'Can I use it for MSFS2020 for instrumental display?',
      answer: 'Yes but it\'s not very handy today. because so far what I found is that you have to use RALT + mouse click to create a new instrument window and drag it/them to your MFD screens.' +
              'Unless you are flying long-haul all the time, I don\'t feel like it\'s easy to use to be honest.'
    }],
    statuses: ['mike\'s pick'],
    properties: {
      'Best Working Resolution': '800 x 600',
      'Highest Resolution': '1920 x 1080',
      'Diagonal display': '6 in',
      'Display Type': 'LCD/TFT',
      'Input Interfaces': 'HDMI'
    }
  }, {
    id: 4,
    stringId: 'aimxy',
    name: 'AimXY Head Tracker Head Tracking System Flight Combat Simulation DCS',
    type: 'Head Tracking',
    href: 'product_aimxy.html',
    category: ['flight', 'racing'],
    image: {
      small: 'images/products/aimxy/main-small.jpg',
      medium: 'images/products/aimxy/main-medium.jpg',
      large: 'images/products/aimxy/main-large.jpg'
    },
    additionalImages: [{
      small: 'images/products/aimxy/add-2.jpg',
      large: 'images/products/aimxy/add-2.jpg',
    }, {
      small: 'images/products/aimxy/add-3.jpg',
      large: 'images/products/aimxy/add-3.jpg',
    }, {
      small: 'images/products/aimxy/add-4.jpg',
      large: 'images/products/aimxy/add-4.jpg',
    }, {
      small: 'images/products/aimxy/add-5.jpg',
      large: 'images/products/aimxy/add-5.jpg',
    }, {
      small: 'images/products/aimxy/add-6.jpg',
      large: 'images/products/aimxy/add-6.jpg',
    }, {
      small: 'images/products/aimxy/add-7.jpg',
      large: 'images/products/aimxy/add-7.jpg',
    }, {
      small: 'images/products/aimxy/add-8.jpg',
      large: 'images/products/aimxy/add-8.jpg',
    }],
    price: '$249.00',
    oldPrice: '$249.00',
    brand: {
      name: 'AimXY',
      image: 'images/brands/aimxy.jpg',
      href: '#',
    },
    amazonLink: 'https://www.amazon.com.au/dp/B0CXZVM8P9',
    ebayLink: 'https://www.ebay.com.au/itm/354742443391',
    sold: 3,
    feedbackCount: 1,
    feedbackRate: 5,
    availableItem: 16,
    article: 'aimxy',
    variations: [],
    specifications: [{
      name: 'Warranty',
      properties: {
        'Manufacturer Warranty': '2 Years'
      }
    }, {
      name: 'Dimension',
      properties: {
        'Item Width': '90 mm',
        'Item Height': '25 mm',
        'Item Weight': '17 g'
      }
    }, {
      name: 'Support Games',
      properties: {
        'Platform': 'PC',
        'Flight Simulation': 'DCS (Digital Combat Simulation), Microsoft Flight Simulator 2020',
        'Driving Simulators': 'Euro Truck Simulator, American Truck Simulator',
        'Racing Simulation': 'Assetto Corsa, Assetto Competizione, Forza Horizon 4/5, F1 2010-2021',
        'More Support Games': 'Please Refer to Overview Section',
        'Number of Support Games': '736',
      }
    }, {
      name: 'Input/Output Connectors',
      properties: {
        'Input Interfaces': 'USB Cable',
      }
    }, {
      name: 'Power Supply',
      properties: {
        'Power Input': 'USB Cable, same as data connection'
      }
    }, {
      name: 'General',
      properties: {
        'Country/Region of Manufacture': 'HUBEI CHINA'
      }
    }],
    reviews: [{
      author: 'ebay customer',
      date: '2023',
      text: '<p>The head tracker arrived on time and works just as intended. It works fantastically and makes a difference to view in gaming.</p>',
      likes: 0,
      dislikes: 0
    }],
    questions: [{
      question: 'How can I get the 90% OFF discount for old customers?',
      answer: 'You may contact Mike via Email or Discord.'
    }, {
      question: 'Does it require additional wearable on my head, i.e. hat, earphone holder etc.?',
      answer: 'No. It is a camera based with AI technology identifying your head and face to do head tracking.'
    }, {
      question: 'Is it safe in terms of privacy considering it\'s a camera?',
      answer: 'It\'s safe, AimXY doesn\'t upload any data. There is no risks or concerns against your privacy.'
    }, {
      question: 'Does it support per game profile configurations?',
      answer: 'Yes. You can configure different profiles for each of your game.'
    }, {
      question: 'Does it support X/Y/Z axis curve adjustment?',
      answer: 'Yes. There are plenty of adjustments you can play around.'
    }, {
      question: 'Does it support accessibility uses?',
      answer: 'Yes. It could be used as mouse assistant device for accessibility.'
    }],
    isNotAvailable: false,
    isOnSale: false,
    statuses: ['top selling', 'mike\'s pick'],
    properties: {
      'Connectivity': 'USB/USB-C',
      'Head Capture': 'Camera',
      'Additional Wearable Accessories': 'Not Required'
    },
    inPackage: [{
      name: 'What\'s in package',
      properties: {
        'AimXY Device': 'x 1',
        'Holder': 'x 1',
        'USB Cable': 'x 1, 2 meters',
        'USB/USB-C Converter': 'x 1'
      }
    }, {
      name: 'Gift pack (Free)',
      properties: {
        'N/A': ''
      }
    }],
  }, {
    id: 5,
    stringId: 'kpx',
    name: 'KeyPad++ Flight/Driving Simulation Deck Panel programmable RGB Keyboard with 4 Knobs',
    type: 'Deck Keyboard',
    href: 'product_kpx.html',
    category: ['flight', 'racing'],
    image: {
      small: 'images/products/kpx/dcs-small.jpg',
      medium: 'images/products/kpx/dcs-medium.jpg',
      large: 'images/products/kpx/dcs-large.jpg'
    },
    additionalImages: [{
      small: 'images/products/kpx/rgb-1.jpg',
      large: 'images/products/kpx/rgb-1.jpg',
    }, {
      small: 'images/products/kpx/rgb-2.jpg',
      large: 'images/products/kpx/rgb-2.jpg',
    }, {
      small: 'images/products/kpx/rgb-3.jpg',
      large: 'images/products/kpx/rgb-3.jpg',
    }, {
      small: 'images/products/kpx/layout-f16num.jpg',
      large: 'images/products/kpx/layout-f16num.jpg',
    }, {
      small: 'images/products/kpx/layout-msfs.jpg',
      large: 'images/products/kpx/layout-msfs.jpg',
    }, {
      small: 'images/products/kpx/layout-ets.jpg',
      large: 'images/products/kpx/layout-ets.jpg',
    }, {
      small: 'images/products/kpx/back.jpg',
      large: 'images/products/kpx/back.jpg',
    }, {
      small: 'images/products/kpx/side-1.jpg',
      large: 'images/products/kpx/side-1.jpg',
    }, {
      small: 'images/products/kpx/side-2.jpg',
      large: 'images/products/kpx/side-2.jpg',
    }, {
      small: 'images/products/kpx/shaft.jpg',
      large: 'images/products/kpx/shaft.jpg',
    }, {
      small: 'images/products/kpx/app-1.jpg',
      large: 'images/products/kpx/app-1.jpg',
    }, {
      small: 'images/products/kpx/app-2.jpg',
      large: 'images/products/kpx/app-2.jpg',
    }, {
      small: 'images/products/kpx/app-rgb.jpg',
      large: 'images/products/kpx/app-rgb.jpg',
    }],
    price: '$65.00',
    oldPrice: '$65.00',
    brand: {
      name: 'KeyPad++',
      image: 'images/brands/kpx.jpg',
      href: '#',
    },
    amazonLink: 'https://www.amazon.com.au/dp/B0CY2S4XKT',
    ebayLink: 'https://www.ebay.com.au/itm/354991224754',
    sold: 6,
    feedbackCount: 1,
    feedbackRate: 5,
    availableItem: 0,
    isNotAvailable: true,
    isOnSale: false,
    statuses: ['top selling', 'mike\'s pick'],
    article: 'kpx',
    variations: [{
      name: 'Keyboard Layout',
      values: [{
        name: 'DCS F-16 NumPad',
        value: 'f16'
      }, {
        name: 'DCS F/A-18 NumPad',
        value: 'f18'
      }, {
        name: 'DCS Modern Air Combat',
        value: 'dcs'
      }, {
        name: 'MSFS2020 - Microsoft Flight Simulation 2020',
        value: 'msfs'
      }, {
        name: 'ETS2 - Euro Truck Simulation',
        value: 'ets2'
      }, {
        name: 'Sprintires Off-Road Simulation',
        value: 'sprintires'
      }, {
        name: 'Media Player(Sleep + Lock + Video + Foobar)',
        value: 'win'
      }]
    }],
    specifications: [{
      name: 'Dimension',
      properties: {
        'Item Width': '145 mm x 140 mm',
        'Item Height': '40 mm'
      }
    }, {
      name: 'Support Layout',
      properties: {
        'Layout 1': 'DCS F-16 NumPad',
        'Layout 2': 'DCS F/A-18 NumPad',
        'Layout 3': 'DCS Modern Air Combat',
        'Layout 4': 'MSFS2020 - Microsoft Flight Simulation 2020',
        'Layout 5': 'ETS2 - Euro Truck Simulation',
        'Layout 6': 'Sprintires Off-Road Simulation',
        'Layout 7': 'Media Player(Sleep + Lock + Video + Foobar)',
      }
    }, {
      name: 'Input/Output Connectors',
      properties: {
        'Connectivity': 'Wired/USB Cable',
      }
    }, {
      name: 'General',
      properties: {
        'Country/Region of Manufacture': 'JIANGSU CHINA'
      }
    }],
    reviews: [{
      author: 'ebay customer(an older model keyboard)',
      date: 'More than a year ago\n',
      text: '<p>Good item and seller A+</p>',
      likes: 0,
      dislikes: 0
    }],
    questions: [{
      question: 'How can I get the 90% OFF discount for old customers?',
      answer: 'You may contact Mike via Email or Discord.'
    }, {
      question: 'Does this keyboard support wireless i.e. Bluetooth?',
      answer: 'No. It is wired. You have to connect the keyboard with USB cable all the time.'
    }, {
      question: 'Is it a VIA/QMK Keyboard?',
      answer: 'No. It has its own software. The software uses are similar to VIA though.'
    }, {
      question: 'Can I control volume via the knobs?',
      answer: 'Yes.'
    }, {
      question: 'Can I use the knobs for auto-pilot controls i.e. AP Speed/Altitude/VS and so on in MSFS2020?',
      answer: 'Yes. That\'s the original intention to have this keyboard.'
    }, {
      question: 'Does the keyboard support RGB lights?',
      answer: 'Yes and the RGB lights patterns are configurable.'
    }, {
      question: 'What shaft does the keyboard has?',
      answer: 'Outemu Brown (Guangdong, CHINA)'
    }, {
      question: 'Does this keyboard support layer control?',
      answer: 'Yes. 4 layers.'
    }, {
      question: 'Can I customise the screen pic?',
      answer: 'Yes and you can have different pics for each layer. (max 4 layers)'
    }],
    properties: {
      'Connectivity': 'Wired USB/USB-C',
      'RGB': 'Yes',
      'Shaft': 'Outemu Brown (Guangdong, CHINA)',
      'Key Layout': '12 Keys (3 x 4) + 4 Knobs',
      'Layer Control': '4 Layers'
    },
    inPackage: [{
      name: 'What\'s in package',
      properties: {
        'Keyboard with specific layout keys': 'x 1'
      }
    }, {
      name: 'Gift pack (Free)',
      properties: {
        'Key Puller': 'x 1'
      }
    }],
  }, {
    id: 6,
    name: 'Aviation Theme Alarm Desk Clock Silence No Tick Sound',
    type: 'Alarm Clock',
    href: 'product_alarm.html',
    category: ['fan'],
    amazonLink: 'https://www.amazon.com.au/dp/B0CZJV86CC',
    ebayLink: 'https://www.ebay.com.au/itm/355268025632',
    sold: 2,
    feedbackCount: 1,
    feedbackRate: 5,
    availableItem: 20,
    article: 'alarm',
    image: {
      small: 'images/products/alarm/main-small.jpg',
      medium: 'images/products/alarm/main-medium.jpg',
      large: 'images/products/alarm/main-large.jpg'
    },
    additionalImages: [
      {
        small: 'images/products/alarm/var.jpg',
        large: 'images/products/alarm/var.jpg',
      }, {
        small: 'images/products/alarm/45d.jpg',
        large: 'images/products/alarm/45d.jpg',
      }, {
        small: 'images/products/alarm/backlight.jpg',
        large: 'images/products/alarm/backlight.jpg',
      }, {
        small: 'images/products/alarm/backlight2.jpg',
        large: 'images/products/alarm/backlight2.jpg',
      }, {
        small: 'images/products/alarm/altitude_desk.jpg',
        large: 'images/products/alarm/altitude_desk.jpg',
      }, {
        small: 'images/products/alarm/heading_desk.jpg',
        large: 'images/products/alarm/heading_desk.jpg',
      }, {
        small: 'images/products/alarm/attitude_desk.jpg',
        large: 'images/products/alarm/attitude_desk.jpg',
      }, {
        small: 'images/products/alarm/airspeed_desk.jpg',
        large: 'images/products/alarm/airspeed_desk.jpg',
      }, {
        small: 'images/products/alarm/back.jpg',
        large: 'images/products/alarm/back.jpg',
      }, {
        small: 'images/products/alarm/back_battery_off.jpg',
        large: 'images/products/alarm/back_battery_off.jpg',
      }],
    price: '$78.00',
    oldPrice: '$78.00',
    brand: {},
    variations: [{
      name: 'Type',
      values: [{
        name: 'Altitude meter',
        value: 'altitude'
      }, {
        name: 'Heading indicator',
        value: 'heading'
      }, {
        name: 'Attitude indicator',
        value: 'attitude'
      }, {
        name: 'Airspeed indicator',
        value: 'airspeed'
      }]
    }],
    specifications: [{
        name: 'Dimension',
        properties: {
          'Item Height': '90 mm',
          'Item Width': '90 mm',
          'Item Depth': '40 mm',
          'Item Weight': '140 g'
        }
      }, {
      name: 'Tech Specs',
      properties: {
        'Brand': 'Unbrand',
        'Backlight': 'Push glass to illuminate, immediate OFF once release',
        'Power Supply': '2 x AA 1.5V Battery (NOT Inclusive)',
        'Alarm': 'YES',
        'Noise Level': 'Bedroom fit. Perfectly Silence. No Tick Sound'
      }
    }],
    reviews: [{
      author: 'ebay customer (Altitude Meter)',
      date: 'Past 6 months',
      text: '<p>Good condition thank you</p>',
      likes: 0,
      dislikes: 0
    }, {
      author: 'ebay customer (Altitude Meter)',
      date: 'Past year',
      text: '<p>Excellent clock</p>',
      likes: 0,
      dislikes: 0
    }],
    questions: [{
      question: 'How can I get the 90% OFF discount for old customers?',
      answer: 'You may contact Mike via Email or Discord.'
    }, {
      question: 'Is it suitable for bedroom if I am super sensitive to even tiny noise?',
      answer: 'Yes. Mike is super sensitive to even tiny noise too. It\'s perfect fit if noise level is your primary concern.'
    }, {
      question: 'Is it plastic or metal?',
      answer: 'The clock is made of plastic, don\'t be triked by the pics, it\'s plastic.'
    }, {
      question: 'Is the alarm sound loud enough to wake up in the morning?',
      answer: 'Yes. Even loud enough to wake you up in the midnight if you don\'t wanna miss a football match.'
    }, {
      question: 'Does the clock feel very high quality and fancy?',
      answer: 'To be honest no, if you touch it in your hands. It\'s plastic anyway but metal. However, in terms its function and appearances, even from closer look, it looks good enough for Mike\'s gaming desk setup.'
    }],
    isNotAvailable: false,
    isOnSale: false,
    statuses: ['new', 'mike\'s pick'],
    properties: {
      'Brand': 'Unbrand',
      'Noise Level': 'Bedroom fit. Perfectly Silence. No Tick Sound',
      'Backlight': 'Push glass to illuminate, immediate OFF once release',
      'Power Supply': '2 x AA 1.5V Battery (NOT Inclusive)',
      'Alarm': 'YES and loud'
    },
    inPackage: [{
      name: 'What\'s in package',
      properties: {
        'Alarm clock': 'x 1'
      }
    }, {
      name: 'Gift pack (Free)',
      properties: {
        'N/A': ''
      }
    }]
  }, {
    id: 7,
    name: 'x3 Pack Magnetic Plate - Aviation Theme',
    type: 'Magnetic Plate/Phone Holder',
    href: 'product_aviation_plate.html',
    category: ['fan'],
    amazonLink: 'https://www.amazon.com.au/dp/B0CY2Q9QPL',
    ebayLink: 'https://www.ebay.com.au/itm/354965436411',
    sold: 1,
    feedbackCount: 0,
    feedbackRate: '-',
    availableItem: 19,
    article: 'aviation_plate',
    image: {
      small: 'images/products/aviation_plate/main-small.jpg',
      medium: 'images/products/aviation_plate/main-medium.jpg',
      large: 'images/products/aviation_plate/main-large.jpg'
    },
    additionalImages: [
      {
        small: 'images/products/aviation_plate/add-art4.jpg',
        large: 'images/products/aviation_plate/add-art4.jpg',
      }, {
        small: 'images/products/aviation_plate/add-art1.jpg',
        large: 'images/products/aviation_plate/add-art1.jpg',
      }, {
        small: 'images/products/aviation_plate/add-art2.jpg',
        large: 'images/products/aviation_plate/add-art2.jpg',
      }, {
        small: 'images/products/aviation_plate/add-art3.jpg',
        large: 'images/products/aviation_plate/add-art3.jpg',
      }, {
        small: 'images/products/aviation_plate/add-iphone.jpg',
        large: 'images/products/aviation_plate/add-iphone.jpg',
      }, {
        small: 'images/products/aviation_plate/add-pkg.jpg',
        large: 'images/products/aviation_plate/add-pkg.jpg',
      }, {
        small: 'images/products/aviation_plate/add-1.jpg',
        large: 'images/products/aviation_plate/add-1.jpg',
      }, {
        small: 'images/products/aviation_plate/add-2.jpg',
        large: 'images/products/aviation_plate/add-2.jpg',
      }, {
        small: 'images/products/aviation_plate/add-3.jpg',
        large: 'images/products/aviation_plate/add-3.jpg',
      }, {
        small: 'images/products/aviation_plate/add-plane.jpg',
        large: 'images/products/aviation_plate/add-plane.jpg',
      }, {
        small: 'images/products/aviation_plate/add-phone-holder.jpg',
        large: 'images/products/aviation_plate/add-phone-holder.jpg',
      }, {
        small: 'images/products/aviation_plate/add-earphone.jpg',
        large: 'images/products/aviation_plate/add-earphone.jpg',
      }, {
        small: 'images/products/aviation_plate/add-motor.jpg',
        large: 'images/products/aviation_plate/add-motor.jpg',
      }, {
        small: 'images/products/aviation_plate/add-watch.jpg',
        large: 'images/products/aviation_plate/add-watch.jpg',
      }, {
        small: 'images/products/aviation_plate/add-office.jpg',
        large: 'images/products/aviation_plate/add-office.jpg',
      }, {
        small: 'images/products/aviation_plate/add-work.jpg',
        large: 'images/products/aviation_plate/add-work.jpg',
      }, {
        small: 'images/products/aviation_plate/add-cockpit.jpg',
        large: 'images/products/aviation_plate/add-cockpit.jpg',
      }, {
        small: 'images/products/aviation_plate/add-cover.jpg',
        large: 'images/products/aviation_plate/add-cover.jpg',
      }],
    price: '$26.00',
    oldPrice: '$32.00',
    isNotAvailable: false,
    isOnSale: true,
    brand: {
      name: 'BIJITAC',
      image: 'images/brands/bijitac.jpg',
      href: '#',
    },
    variations: [],
    specifications: [{
      name: 'Dimension',
      properties: {
        'Item Width': '40 mm',
        'Item Diameter': '40 mm'
      }
    }, {
      name: 'Functional',
      properties: {
        'Magnet': 'YES',
        'Wireless Charging': 'NOT Support'
      }
    }, {
      name: 'General',
      properties: {
        'Brand': 'BIJITAC',
        'Country/Region of Manufacture': 'BEIJING CHINA'
      }
    }],
    reviews: [],
    questions: [{
      question: 'How can I get the 90% OFF discount for old customers?',
      answer: 'You may contact Mike via Email or Discord.'
    }, {
      question: 'What is the item used for?',
      answer: 'It is basically a magnet phone holder, you may use the 3M side attach the plate to back of your phone. ' +
              'It allows that with the magnet plate, you can use any magnet phone holder to hold it.' +
              'Other uses could be more flexible, attaching it to anywhere you apply the 3M pad to. i.e. your laptop, earphone, back of your watch, motercycle and so on.'
    }, {
      question: 'Does it support wireless charging?',
      answer: 'No. It is not the material that wireless power can penetrate  through. That is saying, if you attach this plate on back of your phone, you phone may not be able to be wireless charged any more because the plate may potentially block the charging field.'
    }],
    statuses: ['new', 'mike\'s pick'],
    properties: {
      'Brand': 'BIJITAC',
      'Item Width': '40 mm',
      'Item Diameter': '40 mm',
      'Magnet': 'YES',
      'Wireless Charging': 'NOT Support'
    },
    inPackage: [{
      name: 'What\'s in package',
      properties: {
        'Magnet plate': 'x 3, one side with aviation theming pattern, the other side with 3M',
        '3M pad': 'x 3, one side with 3M, the other side with magic self adhesive hook'
      }
    }, {
      name: 'Gift pack (Free)',
      properties: {
        'N/A': ''
      }
    }]
  }, {
    id: 8,
    name: 'Car Seat Gap Organiser Fast Wireless Charger 20W 12mm',
    type: 'Wireless Charger/Car Seat Gap Organiser',
    href: 'product_cargapcharger.html',
    category: ['other'],
    amazonLink: 'https://www.amazon.com.au/dp/B0CY2WXQDH',
    ebayLink: 'https://www.ebay.com.au/itm/355426921725',
    sold: 0,
    feedbackCount: 0,
    feedbackRate: '-',
    availableItem: 20,
    article: 'cargapcharger',
    image: {
      small: 'images/products/cargapcharger/passenger1-small.jpg',
      medium: 'images/products/cargapcharger/passenger1-medium.jpg',
      large: 'images/products/cargapcharger/passenger1.jpg'
    },
    additionalImages: [
      {
        small: 'images/products/cargapcharger/driver1.jpg',
        large: 'images/products/cargapcharger/driver1.jpg',
      }, {
        small: 'images/products/cargapcharger/driver2.jpg',
        large: 'images/products/cargapcharger/driver2.jpg',
      }, {
        small: 'images/products/cargapcharger/passenger2.png',
        large: 'images/products/cargapcharger/passenger2.png',
      }, {
        small: 'images/products/cargapcharger/passenger3.jpg',
        large: 'images/products/cargapcharger/passenger3.jpg',
      }, {
        small: 'images/products/cargapcharger/ai.png',
        large: 'images/products/cargapcharger/ai.png',
      }, {
        small: 'images/products/cargapcharger/charge_diagram.png',
        large: 'images/products/cargapcharger/charge_diagram.png',
      }, {
        small: 'images/products/cargapcharger/passenger6.jpg',
        large: 'images/products/cargapcharger/passenger6.jpg',
      }, {
        small: 'images/products/cargapcharger/passenger7.jpg',
        large: 'images/products/cargapcharger/passenger7.jpg',
      }, {
        small: 'images/products/cargapcharger/driver3.jpg',
        large: 'images/products/cargapcharger/driver3.jpg',
      }, {
        small: 'images/products/cargapcharger/driver4.jpg',
        large: 'images/products/cargapcharger/driver4.jpg',
      }, {
        small: 'images/products/cargapcharger/passenger4.jpg',
        large: 'images/products/cargapcharger/passenger4.jpg',
      }, {
        small: 'images/products/cargapcharger/passenger5.jpg',
        large: 'images/products/cargapcharger/passenger5.jpg',
      }, {
        small: 'images/products/cargapcharger/dimension.jpg',
        large: 'images/products/cargapcharger/dimension.jpg',
      }],
    price: '$60.00',
    oldPrice: '$60.00',
    brand: {},
    variations: [],
    specifications: [{
      name: 'Dimension',
      properties: {
        'Item Length': '27 cm',
        'Item Width': '7.3 cm',
        'Item Height': '15.5 cm',
        'Item Weight': '400 g'
      }
    }, {
      name: 'Wireless Charging',
      properties: {
        'Wireless Charging power': '20 W',
        'Wireless Charging distance': '12 mm',
        'Power Input Interface': 'USB-C',
        'USB Cable Included': 'NO',
      }
    }],
    reviews: [],
    questions: [{
      question: 'How can I get the 90% OFF discount for old customers?',
      answer: 'You may contact Mike via Email or Discord.'
    }, {
      question: 'Does this organiser support wireless charging?',
      answer: 'YES.'
    }, {
      question: 'Does my phone placed vertically or horizontally?',
      answer: 'Vertically. That is the reason why this gap organiser charger is more useful than other similar products.' +
              'With your phone screen facing the driver, you can still see the upper part of your screen i.e. time, battery, notifications.' +
              'And it is much easier to place or remove while driving.'
    }, {
      question: 'Can I use the wireless charging with the phone case?',
      answer: 'YES. For most phone cases, the 12 mm super distance charging capability, you don\'t have to remove your phone case while charging.'
    }, {
      question: 'Do I need to keep the phone facing driver side while charging?',
      answer: 'YES. for both model RHD-Driver-side or RHD-passenger-side, the wireless charging panel is on the driver side. So, you need to place your phone screen always facing driver to charge.'
    }],
    isNotAvailable: false,
    isOnSale: false,
    statuses: ['new', 'mike\'s pick'],
    properties: {
      'Brand': 'Unbrand',
      'Wireless Charging power': '20 W',
      'Wireless Charging distance': '12 mm',
      'Power Input Interface': 'USB-C',
      'USB Cable Included': 'NO',
      'Variations': 'RHD-Driver-side, RHD-Passenger-side'
    },
    inPackage: [{
      name: 'What\'s in package',
      properties: {
        'Car Seat Gap Organiser with Wireless Charging': 'x 1'
      }
    }, {
      name: 'Gift pack (Free)',
      properties: {
        'N/A': ''
      }
    }]
  }]
