mixin rating(stars)
    if(stars === 5)
        li: +icon("star")(class="uk-text-warning")
        li: +icon("star")(class="uk-text-warning")
        li: +icon("star")(class="uk-text-warning")
        li: +icon("star")(class="uk-text-warning")
        li: +icon("star")(class="uk-text-warning")
    else if(stars === 4)
        li: +icon("star")(class="uk-text-warning")
        li: +icon("star")(class="uk-text-warning")
        li: +icon("star")(class="uk-text-warning")
        li: +icon("star")(class="uk-text-warning")
        li: +icon("minus")(class="uk-text-warning")
    else if(stars === 3)
        li: +icon("star")(class="uk-text-warning")
        li: +icon("star")(class="uk-text-warning")
        li: +icon("star")(class="uk-text-warning")
        li: +icon("minus")(class="uk-text-warning")
        li: +icon("minus")(class="uk-text-warning")
    else if(stars === 2)
        li: +icon("star")(class="uk-text-warning")
        li: +icon("star")(class="uk-text-warning")
        li: +icon("minus")(class="uk-text-warning")
        li: +icon("minus")(class="uk-text-warning")
        li: +icon("minus")(class="uk-text-warning")
    else if(stars === 1)
        li: +icon("star")(class="uk-text-warning")
        li: +icon("minus")(class="uk-text-warning")
        li: +icon("minus")(class="uk-text-warning")
        li: +icon("minus")(class="uk-text-warning")
        li: +icon("minus")(class="uk-text-warning")
    else
        li: +icon("minus")(class="uk-text-warning")
